body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
a {
    text-decoration: none;
}
a.link {
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a.link:hover {
    color: #B01EFF;
    cursor: pointer;
}

.button:hover{
    background: linear-gradient(90deg, #534496 0%, #d6e1ff 100%);
}
.button {
    cursor: pointer;
    width: 250px;
    height: 75px;
    background: white;
    border-radius: 35px;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);


    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}



td a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #3F2B96FF;
}
td a:hover {
    color: black;
    background-color: #A8C0FFFF;
}
.button :hover{
    background: linear-gradient(90deg, #331b9a 0%, #77acff 100%);
}


